
.logo {
  width: 20%;
  height: 40px;
  margin-top: 1.2%;
  margin-left: 2%;
  margin-bottom: 1%;
  background: url(../../images/orcametro.png) no-repeat center;
  background-size: contain;
  float: left;
}
  
  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  }
  .menu {
      display: flex;
      align-items: flex-end;
      margin-right: 2%;
  }
  
  .btn-sign-in {
      margin-right: 18px;
      padding: 10px 20px;
      border-radius: 4px;
      border: 0;
      background-image: linear-gradient(to left, #02b6ad, #1475a2);
      color: white;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      max-width: 100%;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
  }
  
  .btn-sign-up {
      margin-right: 18px;
      padding: 10px 20px;
      border-radius: 4px;
      border: 0;
      background-image: linear-gradient(to right, #02b6ad, #1475a2);
      color: white;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      max-width: 100%;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
  }

  .body {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6%;
  }
  
  .body-title {
    background-image: linear-gradient(to bottom, #1475a2, #1475a2, #1475a2, #02b6ad);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-size: 500%;
    font-weight: bold;
    justify-content: center;
    display: flex;
    margin-left: 9%;
    max-width: 100%;
  }
  
  .body-text {
      color:rgb(82, 82, 82);
      font-size: 100%;
      font-weight: bold;
      justify-content: center;
      display: flex;
      text-align: center;
      margin-left: 8%;
      max-width: 100%;
  }

  .body-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
  }

  .body-right {
      width: 50%;
      height: 400px;
      margin-top: 1%; 
      margin-left: 1%;
      margin-bottom: 0.5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-left: 5%;
      background: url(../../images/homeImg.png) no-repeat center;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
      background-size: contain;
  }

  .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
      margin-top: 10px;
      padding: 10px 18px;
      position: fixed;
      bottom: 0;
      width: 100%;
      font-size: 13px;
  }
  